.cabe{
    background-color: #00FFFF;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    font-family: calibri;
}

h2{
    font-style: italic; 
}

.h1{
    background-color: #00FFFF;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    font-family: calibri;
}


.h2{
    background-color: #0000FF;
    font-weight: bold;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    border-radius: 10px;
    padding-left: 10px
}

.nav{
    background-color: #1E90FF;
    font-weight: bold;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    border-radius: 10px;
    padding-left: 10px;
    font-family: calibri;
    color: white;
}

.home{
    text-align: right;
    font-weight: bold;
    font-family: calibri;
    border-radius: 10px;
}

.ucsw{
    font-weight: bold;
    font-style: italic;
    background-color: #C0C0C0;
    border-radius: 10px;
}

table{
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 100%;
}

.titulo{
    font-family: calibri;
    font-weight: bold;
    text-align: right;

}

.sub{
    background-color: #B9B9B9;
    font-family: calibri;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-left: 10px;
}

.conteudo{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.footer{
    background-color: #1E90FF;
    color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    font-family: calibri;
}